<ul>
    <% for (let message of messages) { %>
        <li>
    <% if (user) { %>
            Author: <%= message.username %>
            <br>
            <% } %>
    
                message: <%= message.message %>
                    <br>
    <% if (user) { %>
                    Time : <%= message.time %>
                                            <br>

                                <% } %>
                     
        </li>
        <% } %>
</ul>